@model SocialMediaApp.Models.Post


<h2 class="text-center mt-5">Adaugare postare</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            <form method="post" asp-action="New" asp-controller="Posts" enctype="multipart/form-data">

                <div asp-validation-summary="All" class="text-danger"></div>

                @* imagine sau video *@

                <div class="form-floating mb-3">
                    <input asp-for="ImageFile" type="file" class="form-control" />
                    <label asp-for="ImageFile"></label>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Video">URL Video</label>
                    <input type="url" class="form-control" id="Video" name="Video" value="@Model.Video" placeholder="Introdu URL-ul videoclipului">
                </div>


                <div class="form-group">
                    <label asp-for="Content" class="form-label">Continut Postare</label>
                    <br />
                    <textarea asp-for="Content" class="form-control summernote"></textarea>

                    <!-- Mesaj de validare pentru continut -->
                    <span asp-validation-for="Content" class="text-danger"></span>

                    <br /><br />
                </div>
                <br />
                <button class="btn btn-success" type="submit">Adauga postare</button>

            </form>
        </div>
    </div>
</div>